{% block header %}<h1>{% block title %} Register {% endblock %}</h1> {% endblock %} 

{% block content %} 
<form method="post" action={{ url_for('auth.register') }}>
  <label for="username">Username:</label>
  <input type="text" id="username" name="username">
  <label for="password">Password:</label>
  <input type="password" id="password" name="password">
  <input type="submit" value="Submit" />
</form>
{% if get_flashed_messages() %}
    <div> {{ get_flashed_messages() }}</div>
{% endif %}
{% endblock %}